@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Tenor+Sans&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.badge {
  position: absolute;
  font-size: 12px;
  color: white;
  right: 5px;
  background-color: rgb(42, 211, 42);
}
a {
  text-decoration: none;
}
